<html>
    <head>
        <style>
           td{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 1%;
           }
           th{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 1%;
            vertical-align:top;
           }
           .k{
             border: 1px solid black;
            border-collapse: collapse;
            padding: 1%;
            
           }
        </style>
    </head>
    <body>
        <p style="padding-left: 22%">Material Requestion Form<em style="padding-left:49%" >NO</em></p>
        <p style="padding-left: 24%">የእቃ መጠየቂያ ሰነድ<em style="padding-left:58%;color: red" >0144</em></p>
        <p style="padding-left: 22%">Requested by:-<em style="padding-left: 55%">section:-</em></p>
        <p style="text-align: center"><b>_________________________________________________________________________________________________________________________________</b></p>
        <p style="padding-left: 18%">Requested Material/ወጭ የሚደረጉ እቃዎች ዝርዝር</p>
        <table width=100% class="k">
            <tr>
                <th rowspan="2">Item<br>No</th>
                <th rowspan="2">Code<br>No</th>
                <th rowspan="2">Description</th>
                <th rowspan="2">Unit of <br>Measure-<br>ment</th>
                <th rowspan="2">Quantity</th>
                <th colspan="2"> to be filled by store</th>
            </tr>
            <tr>
                <th>Available</th>
                <th>Issue</th>
            </tr>
            <tr>
                <td></td>
                 <td></td>
                  <td></td>
                   <td></td>
                    <td></td>
                     <td></td>
                      <td></td>
            </tr>
        </table>
        <p style="padding-left: 3%">NOTE:-</p>
        <p style="padding-left: 3%">Requested Name:- <span style="padding-left: 50%">Sig:-</span></p>
        <p style="padding-left: 3%">Approved Name:-</p>
        <p><span style="padding-left:6.5%"><em>1st to store</em></span><span style="padding-left:8%"><em>2nd to Finance</em></span><span style="padding-left:8%"><em>3rd Requested</em> </span> <span style="padding-left: 8%">4th pad</em></span></p>
        
         
    </body>
</html>