<html>
    <head>
        <style>
           .K,td,th{
            border: 1px solid black;
            border-collapse: collapse;
            font-size: 10px;
            vertical-align:CENTER;
            text-align: center;
           }
          
        </style>
    </head>
    <body>
        <p style="text-align: center;">ERIS TRADING PLC</p>
        <p style="text-align: center;">SALES SAMMURY</p>
        <p style="text-align: center;">DATE://</p>
        <table width=100% class="k">
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">DATE</th>
                <th rowspan="2">REF NO</th>
               
                
                <th colspan="21"> Quantity</th>
               <th rowspan="3">SALES</th>
                <th rowspan="3">EXECISE 10%</th>
                <th rowspan="3">BEF.VAT</th>
                <th rowspan="3">VAT 15%</th>
                <th rowspan="3">TOTAL</th> 
            </tr>
            <tr>
                <th colspan="3">0.33 LITER</th>
                <th colspan="3"> 0.6 LITER</th>
                
                <th colspan="3"> 1 LITER</th>
                <th colspan="3">2 LITER</th>
                
                <th colspan="3">JAR ONLY WATER</th>
                
                <th colspan="3">JAR WITH BOTTLE</th>
                <th colspan="3">JAR WITH HAND</th>
               
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>

                <th> Quantity</th>
                <th>UNIT PRICE</th>
                <th>TOTAL PRICE</th>

                <th> Quantity</th>
                <th>UNIT PRICE</th>
                <th>TOTAL PRICE</th>

                <th> Quantity</th>
                <th>UNIT PRICE</th>
                <th>TOTAL PRICE</th>

                <th> Quantity</th>
                <th>UNIT PRICE</th>
                <th>TOTAL PRICE</th>

                <th> Quantity</th>
                <th>UNIT PRICE</th>
                <th>TOTAL PRICE</th>

                <th> Quantity</th>
                <th>UNIT PRICE</th>
                <th>TOTAL PRICE</th>

                <th> Quantity</th>
                <th>UNIT PRICE</th>
                <th>TOTAL PRICE</th>
            </tr>
        </table>  
    </body>
</html>