{% extends 'base.html.twig' %}

{% block title %}New UserTypes{% endblock %}

{% block body %}
    <h1>Create new UserTypes</h1>

    {{ include('user_types/_form.html.twig') }}

    <a href="{{ path('user_types_index') }}">back to list</a>
{% endblock %}
