{% extends 'base.html.twig' %}

{% block title %}Product Delivey
{% endblock %}
{% block maintitle %}
	Permission
{% endblock %}


{% block breadcrumb %}

	<li class="breadcrumb-item active">Product Delivery</li>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="card col-md">

			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="card card">
							<div class="card-header">
								<h3 class="card-title">Report Generator</h3>
								<div class="card-tools">
									
								</div>
							</div>

							<div class="card-body">
                            {% if product != null  %}
                            {{dump(product)}}
                            {% endif %}
                            <div class="row">	
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <form method="post" action="{{ path('ProductDelivery_report') }}">
                                            <div class="form-check">
                                                <input class="form-check-input" value="{{1}}" type="radio" name="radio" id="radio1" required="required" >
                                                    <label class="form-check-label" for="radio1">
                                                        Raw material Report
                                                    </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" value="{{2}}" type="radio" name="radio" id="radio2" required="required" >
                                                <label class="form-check-label" for="radio2">
                                                        Production Report
                                                </label>
                                            </div>
                                            </br>

                                            <div class="form-check">
                                            {# <button onClick="radio" #}
                                            <button name="one_month" class="btn btn-success " id="button1"  onClick="insert(this.id)" style="margin-right: 40px;"> One Month </button>
                                            <button name="three_month" class="btn btn-success " id="button2"  onClick="insert(this.id)" style="margin-right: 40px;"> Three Month </button>
                                            <button name="six_month" class="btn btn-success " id="button3"  onClick="insert(this.id)" style="margin-right: 40px;"> Six Month </button>
                                            <button name="one_year" class="btn btn-success " id="button4"  onClick="insert(this.id)" style="margin-right: 40px;"> One Year </button>
                                            </div>
                                            </br>
                                            </br>
                                            </br>
                                            <div class="form-check">

                                                <label class="form-check-label" for="start">
                                                        From:
                                                </label>
                                            <input type="Date" class=" date"  name="start" >
                                            <label class="form-check-label" for="end" style="margin-left:15px">
                                                        Up to:
                                                </label>
                                            <input type="Date"  name="end" >
                                        <input type="Submit" style="margin-left:15px" name ="range_generate" value="Generate">
                                            </div>
                                        </form>   
                                        
							        </div>
							    </div>
							</div>
						</div>
						</div>
					</div>
					<!-- /.card-body -->
				</div>
			</div>

		</div>
		<!-- /.card-body -->
	</div>

{% block javascripts %}
        <script>
		function insert(clicked_id){
            if(document.getElementById('radio1').checked){
               var x = document.getElementById('radio1').value;
               document.getElementById(clicked_id).value = x;
            }
            else if(document.getElementById('radio2').checked){
               var x = document.getElementById('radio2').value;
               document.getElementById(clicked_id).value = x;
            }
            
        }
		</script>
	
{% endblock %}		

{% endblock %}

