{% extends 'base.html.twig' %}

{% block title %}Product Details
{% endblock %}
{% block maintitle %}
	Product Details
{% endblock %}


{% block breadcrumb %}

	<li class="breadcrumb-item active">Balance</li>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="card col-md">

			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="card card-info">
							<div class="card-header">
					<h3 class="card-title">Product Details</h3>
								
						</div>
					</div>

				
							<div class="card-body">
                           

                          {{ include('balance/_form.html.twig') }}
											
						
                        										
													
						{# {{ dump(form)}}	
												
						{{ dump(product)}}			 #}
																												
								
							</div>
						</div>
					</div>
					<!-- /.card-body -->
				</div>
			</div>

		</div>
		<!-- /.card-body -->


{% endblock %}
