{% extends 'base.html.twig' %}

{% block title %}New ProductionReport{% endblock %}

{% block body %}
    <h1>Create new ProductionReport</h1>

    {{ include('production_report/_form.html.twig') }}

    <a href="{{ path('production_report_index') }}">back to list</a>
{% endblock %}
